/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

.field_with_errors {
  margin: 0px;
  padding: 0px;
}

.light-gray-background {
  background-color: rgba(10, 10, 10, 0.1);
  display: inline-block;
  padding: 10px;
  -webkit-border-radius: 50px;
-webkit-border-top-left-radius: 1px;
-moz-border-radius: 50px;
-moz-border-radius-topleft: 1px;
border-radius: 50px;
border-top-left-radius: 1px;
  margin-bottom: 5px;
}